@import url(./__item/photo_grid__item.css);

.photo-grid {
  max-width: 1184px;
  max-height: 671px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 16px;
  margin: 0 auto 92px;
}