@import url(../../vendor/fonts/inter.css);
@import url(./__title/lead__title.css);
@import url(./__subtitle/lead__subtitle.css);
@import url(./__figure/lead__figure.css);
@import url(./__image/lead__image.css);
@import url(./__caption/lead__caption.css);



.lead {
  font-family: 'Inter', 'Arial', sans-serif;
  color: #ffffff;
  text-rendering: optimizeLegibility;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 77%;
  max-width: 984px;
  margin: 0 auto 92px;
}

@media screen and (max-width:1024px) {
  .lead {
    margin-bottom: 88px;
    width: 92.5%;
  }
}

@media screen and (max-width:768px) {
  .lead {
    width: 100%;
  }
}

@media screen and (max-width:320px) {
  .lead {
    margin-bottom: 64px;
  }
}