@import url(../__paragraph/place__paragraph.css);

.place__paragraphs {
  max-width: 484px;
  width: 100%;
  margin: 0 0 auto;
  padding: 0;
}

@media screen and (max-width: 678px) {
  .place__paragraphs {
    max-width: 352px;
  }
}

@media screen and (max-width: 320px) {
  .place__paragraphs {
    max-width: 320px;
  }
}