.intro__wrapper {
  width: 77%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  margin-right: auto;
}


@media screen and (max-width:768px) {
  .intro__wrapper {
    width: 100%;
  }
}
