.intro__wrapper {
  width: 77%;
  max-width: 690px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  margin-right: auto;
}


@media screen and (max-width:768px) {
  .intro__wrapper {
    width: auto;
  }
}

@media screen and (max-width:400px) {
  .intro__wrapper {
    margin-left: 16px;
    margin-right: 16px;
    max-width: 288px;
  }
}