.lead__title {
  max-width: 720px;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  font-size: 
  line-height: 1.04;
  margin: 0 auto 32px;
}


@media screen and (max-width: 768px) {
  .lead__title {
    font-size: 12.5vw;
    line-height: 1.04;
  }
}

@media screen and (max-width: 768px) {
  .lead__title {
    line-height: 1.1;
  }
}