.place__link {
  display: flex;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-decoration: none;
  /* text-decoration-line: underline; По макету подходит больше бордер */
  border-bottom: 1px solid #ffffff;
  color: #ffffff;
  margin: 0 auto 0 0;
  padding: 0;
}

.place__link:hover {
  opacity: 0.8;
}
