@import url(/vendor/fonts/inter.css);
@import url(./__title/place__title.css);
@import url(./__title/place__title.css);
@import url(./__website/place__website.css);
@import url(./__paragraphs/place__paragraphs.css);

.place {
  font-family: 'Inter', sans-serif;
  color: #ffffff;
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 40px;
  grid-row-gap: 48px;
  align-items: end;
  max-width: 100%;
  min-height: 46px;
  margin-bottom: 80px;
}

.place:last-of-type {
  margin-bottom: 0;
}