@import url(/vendor/fonts/inter.css);
@import url(./__links/footer__links.css);
@import url(./__copyright/footer__copyright.css);

.footer {
  font-family: 'Inter', sans-serif;
  color: #ffffff;
  text-rendering: optimizeLegibility;
  width: 92.5%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding-bottom: 24px;
}

@media screen and (min-width: 1280px) {
  .footer {
    max-width: 1184px;
  }
}

@media screen and (max-width: 768px) {
  .footer {
    width: 95%;
  }
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
  }
}

@media screen and (max-width: 320px) {
  .header {
    width: 95%;
  }
}